<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 牛腩博客</title>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <link href="/layui/css/layui.css" rel="stylesheet" />
    <script src="/layui/layui.js"></script>
    <style>
   .layui-form select {
            display: block;
            border: 1px solid #e6e6e6;
            height: 38px;
            line-height: 38px;
            min-width: 100px;
        }
   .layui-textarea{
       min-height: 300px;
   }
    </style>
</head>
<body>

    @RenderBody()

</body>
</html>
