@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-index">
    <div id="lb_Index" class="lb-index has-dots" style="overflow: hidden; width: 1920px; height: 500px;">
        <ul style="width: 300%; position: relative; left: -100%; height: 500px;">
            <li style="width: 33.3333%;"><img src="skin/17/001.jpg" alt=""></li>
            <li style="width: 33.3333%;"><img src="skin/17/002.jpg" alt=""></li>
            <li style="width: 33.3333%;"><img src="skin/17/003.jpg" alt=""></li>
        </ul>
        <ol class="dots"><li class="dot"></li><li class="dot active"></li></ol><ol class="dots"><li class="dot active"></li><li class="dot"></li><li class="dot"></li></ol>
    </div>
    <div class="radio">
        <div class="container">
            <span>最新消息 / NEWS</span>
            <marquee id="noticeDom" scrollamount="4" scrolldelay="100" direction="left" onmouseover="this.stop();" onmouseout="this.start();">全网第一最具公信力信誉平台！两面赔率1.99  定位赔率9.9  期期返水0.5%！集齐当红最热高频彩票一站式体验！玩法公平、规则公正、信誉公开！大额无忧！百万取款3分钟内火速到账！</marquee>
        </div>
    </div>
</div>