<div class="menu">
    <ul>
        <li class="about">
            <a href="/news/onepage?cabh=01"></a>
        </li>
        <li class="contact">
            <a href="/news/onepage?cabh=02"></a>
        </li>
        <li class="partner">
            <a href="/news/onepage?cabh=03"></a>
        </li>
        <li class="deposit">
            <a href="/news/onepage?cabh=04"></a>
        </li>
        <li class="withdraw">
            <a href="/news/onepage?cabh=05"></a>
        </li>
        <li class="question">
            <a href="/news/onepage?cabh=06"></a>
        </li>
    </ul>
</div>